/* Common styles for all screen sizes */
.aboutme-card {
  background: url("https://images.unsplash.com/photo-1557264337-e8a93017fe92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80") no-repeat center center;
  background-size: cover;
  border-radius: 5vh; /* Use 5vh instead of 10px for consistent border radius */
  padding: 2vh;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1); /* Adjust box-shadow values with vh */
  color: white;
  border: 0.2vw solid white; /* Adjust the border width with vw */
  width: 85vw;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: scroll; /* Hide any potential overflow from the image */
}

/* Remove flexbox styles from .aboutme-container */
.aboutme-container {
  width: 100%;
  max-width: 80vw; /* Adjust the max-width as needed with vw */
  margin: 1vh auto 0; /* Bring the container down with a margin-top of 4vh */
  padding: 2vh; /* Adjust padding with vh */
}

/* Adjust .aboutme-item styles for one column */
.aboutme-item {
  background-color: #2f3542;
  border-radius: 2vh;
  padding: 1.5vh; /* Reduce the padding to move the content higher up */
  color: #ffffff;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1); /* Adjust box-shadow values with vh */
  width: 90%; /* Set a fixed width for the items */
  margin: 2vh auto; /* Use auto margins to center the items */
  border: 0.2vw solid white; /* Adjust the border width with vw */
}

.aboutme-item h3 {
  margin-bottom: 1.5vh; /* Reduce the bottom margin to move the heading higher up */
  font-size: 3vh; /* Adjust the font size with vh */
  text-align: center; /* Center the headings within the items */
}

.aboutme-item p {
  margin-bottom: 1.5vh; /* Reduce the bottom margin to move the paragraph higher up */
  font-size: 2.5vh; /* Adjust the font size with vh */
  line-height: 1.6;
  text-align: justify; /* Justify the text within the items */
}

.image-container {
  width: 100%;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1; /* Make the image fully visible */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Set the alpha value to 0 for full transparency */
  color: white;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Ensure padding is included in the overlay size */
}
















  
  