h1,
h2,
h3 {
  display: inline;
  background: linear-gradient(to right, #0585e1, #e54fef);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.main-content {
  margin-left: 10vw;
}
  
  
  