/* .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.contact-card {
  background: url("https://images.unsplash.com/photo-1557264337-e8a93017fe92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80") no-repeat center center;
  background-size: cover;
  border-radius: 5vh;
  padding: 2vh;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
  background-size: cover;
  color: white;
  border: 0.2vw solid white;
  width: 85vw;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: scroll;
}

.contact-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vh;
  color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
}

.contact-item {
  margin-bottom: 2vh;
  background-color: #2f3542; /* Gray background color for text boxes */
  border: 0.1rem solid white; /* White border for text boxes */
  border-radius: 5px;
  padding: 1rem;
  height: 18vh;
}

.contact-item h3 {
  font-size: 5vh;
  margin-bottom: 1vh;
}

.contact-item p {
  font-size: 3.5vh;
}

/* New styles for logos */
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}

.logo {
  cursor: pointer;
  margin: 0 1rem;
}

.logo img {
  width: 7rem;
  height: auto;
  aspect-ratio: 3/2;
  border-radius: 50%;
}







