.intro-card {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height to your desired value */
    border-radius: 0px;
    overflow: hidden;
  }
  
  .intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the transparency as needed */
    border-radius: 5px;
    z-index: 1;
  }
  
  .intro-content h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .intro-content p {
    font-size: 16px;
  }
  
  .intro-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .custom-button {
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    background-color: #1e90ff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #5352ed;
    text-decoration: none;
  }
  
  .custom-button a {
    color: #fff;
    text-decoration: none;
  }
  