/* Intro Card Styles */
.intro-card {
  background: url("https://images.unsplash.com/photo-1557264337-e8a93017fe92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80") no-repeat center center;
  background-size: cover;
  border-radius: 5vh;
  padding: 2vh;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
  background-size: cover;
  color: white;
  border: 0.2vw solid white;
  width: 85vw;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.projects-carousel {
  display: flex;
}

.project-carousel-item {
  width: 20vw;
  padding: 20px;
  text-align: center;
  background-color: #2f3542;
  border-radius: 5px;
  border: 0.2vh solid white;
}

.project-carousel-item.active {
  transform: translateX(calc(-100% / 3));
}

.project-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #ddd;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hide scrollbar */
.projects-carousel::-webkit-scrollbar {
  display: none;
}







