/* Intro Card Styles */
.intro-card {
  background: url("https://images.unsplash.com/photo-1557264337-e8a93017fe92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80") no-repeat center center;
  border-radius: 5vh;
  padding: 2vh;
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
  background-size: cover;
  color: white;
  border: 0.2vw solid white;
  width: 85vw;
  height: 90vh;
  max-width: 85vw; /* Set a maximum width if needed */
  margin: 0 auto;
  overflow: hidden; /* Remove scroll overflow to prevent scrollbar */
}

.intro-content {
  width: 80vw;
  max-width: 600px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center horizontally */
  text-align: center;
  padding: 1.5vw;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.2); /* Add a box shadow */
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.projects-carousel {
  display: flex;
  justify-content: center;
}

.project-carousel-item {
    background-color: #2f3542;
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    opacity: 0;
    position: absolute;
  }

.project-carousel-item.active {
  opacity: 1; /* Show active item */
}

.project-carousel-item:hover {
  transform: scale(1.1); /* Increase the size of the item on hover */
}

h3 {
  font-size: 2.5vw;
  color: #fff;
}

.projects-heading {
  background-color: #2f3542;
  padding: 1.5vh;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 20vw; /* Set a maximum width if needed */
  margin-bottom: 2vh;
  border: 0.2vh solid white;
  text-align: center;
  font-size: 1.2vw;
}

/* Hide scrollbar */
.projects-carousel::-webkit-scrollbar {
  display: none;
}

.custom-button {
  display: inline-block;
  padding: 1vh 2vw;
  background-color: #0585e1;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1vw;
  margin-bottom: 2vh;
}

.custom-button:hover {
  background-color: #e54fef;
}

.custom-button a {
  color: #fff;
  text-decoration: none;
}

.dot-navigation {
  position: absolute;
  bottom: 10px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 2;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #e54fef;
}




